[global]
   workgroup = WORKGROUP
   security = user
   map to guest = bad user

[Proyectos]
   comment = Documentos de Proyecto de Desarrollo
   path = {{ samba_shared_dir }}
   valid users = @"{{ samba_group }}"
   writable = yes
   browsable = yes
   create  mask = 0664
   directory mask = 0775
