<!DOCTYPE html>
<html>
<head>
    <title>Bienvenida a {{ nombre_empresa}}</title>
    <style>
        body { fort-family: sans-serif; text-align: center; margin-top: 50px; }
    </style>
</head>
<body>
    <h1>Bienvenidos a la Intranetde {{ nombre_empresa }}</h1>
    <p>Este servidor fue configurado automaticamente con Ansible.</p>
</body>
</html>
